#sketchpad {
  display: grid;
  grid-template-columns: repeat(16, 30px);
  grid-template-rows: repeat(16, 30px);
  gap: 2px 2px;
}

.square {
  border: 1px solid black;
  transition: background-color 0.2s;
}

.trail {
  background-color: red;
}